/* Color Palette: 
    primary (orange): #D25129
    secondary (light green): #D0DFCF
    neutral (soft white): rgb(255, 255, 255)
    neutral (black/brown): #29231F  */

    /* Typography
    main headers: Google Font: Lilita One (link for html header below)
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">  */



body {
    background-color: rgb(255, 255, 255);
    color: #29231F;
}

.top-bar {
    text-align: center;
    /* background-color: #D25129; */
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100px;
    
}

.top-bar h1 {
    font-family: "Lilita One", cursive;
    color: #D25129;
    font-size: 4em;
}

h2 {
    font-family: "Lilita One", cursive;
    color: #29231F;
}


.ingredients {
    background-color: #D25129;
    color: rgb(255, 255, 255);
}

.page-intro h2 {
    padding: 20px;
    margin: 10px 50px;
}

#search-options h2 {
    /* padding-top: 20px; */
    font-family: "Lilita One", cursive;
}

.search-img {
    border-radius: 15%;
    padding: 20px;
    height: 325px;
    width: 525px;
}

.flavors p {
    font-size: 1em;
}

.card-section {
    height: 200px;
}

.search-btn {
    border-radius: 2em;
    background-color: rgb(255, 255, 255); 
    color: #D25129;
    width: 250px;
    /* color: #282516;
    background-color: #ADD2AC; */
}

.button:hover {
    background-color: #D0DFCF;
}

.button:disabled,
.disabled {
    background-color: rgb(255, 255, 255);
    color: #282516;
    opacity: 1;
    cursor: not-allowed;
    pointer-events: none;
}

#search {
    align-items: center;
    justify-content: center;
    padding: 20px 30px;

}
.search-box {
    padding-top: 20px;
}
.fieldset {
    color: #D25129;
}

.hidden {
    display: none;
}

.searchBtnStyle {
    border-radius: 20px;
    background-color: #D25129;
    color: rgb(255, 255, 255) ;
    font-size: 20px;
    padding: 5px;
    width: 175px;

}

.searchBtnStyle:hover {
    background-color:#D0DFCF;
}

#ingredientList li {
    list-style-position:inside;
    float: left;
    margin-left: 15px;
    background-color: #D25129;
    color: rgb(255, 255, 255) ;
    list-style: none;
    border-radius: 25px;
    padding: 5px;
    font-weight: bold;
    }

    .recipe-img {
       align-items: center;
       margin-top: 25px;
    }
/* ___________________ PAIRINGS PAGE CSS ___________________ */

.work-feature-block-image {
  display: inline-block;
  margin: 20px;
  padding-right: 50px;
}

.work-feature-block-header {  
  display: inline-block;
  margin: 20px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

/* ___________________ FOOTER CSS ___________________ */
.footer {
  position: fixed;
  padding: 0.8rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D25129;
  color: white;
  text-align: center;
  z-index: 1;
}

/* Alert Box CSS */


.alert-box {
    padding-right: 3.25rem;
    width: 100%;
  }
  
  .alert-box.callout {
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .alert-box.warning {
    border: 3px solid #D25129;
    border-radius: 5px;
    background-color: #29231F;
  }
  
  .alert-box i {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: .3em .325em;
    margin-right: 0.5rem;
  }
  
  .alert-box .close-button {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 1rem;
    font-weight: bold;
  }
  
  